@model Proyecto_2.Models.Reporte

@{
    ViewData["Title"] = "VentasDia";
}

<h1>VentasDia</h1>

<div>
    <h4>Reporte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdParqueo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdParqueo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Regresar</a>
</div>
